.card-game {
  @apply bg-white rounded-xl text-[#081F32] shadow-sm;

  &__header {
    @apply relative;
  }

  &__main {
    @apply px-4 mt-4;
  }

  &__footer {
    @apply flex items-center justify-between px-4 pt-3 pb-4;
  }

  &__cover {
    @apply object-cover w-full aspect-[4/3] rounded-t-xl;
  }

  &__title {
    @apply text-18/16 font-500 mt-4;
  }

  &__priceGroup {
    @apply w-full flex-1 flex items-center gap-2;
  }

  &__price {
    @apply text-18/16;
  }

  &__priceOld {
    @apply text-13/16 text-[#F8593B] line-through;
  }

  &__discount {
    @apply inline-flex items-center bg-[#2ECC71] text-white text-15/16 font-700 leading-none -tracking-wider rounded-xl p-1.5;

    &__percent {
      @apply text-14/16;
    }
  }
}
