.card-game-placeholder {
  @apply bg-white rounded-xl text-[#081F32] shadow-sm;

  &__header {
    @apply relative;
  }

  &__main {
    @apply px-4 mt-4;
  }

  &__footer {
    @apply flex items-center justify-between px-4 pt-4 pb-4;
  }

  &__cover {
    @apply block w-full aspect-[4/3] rounded-t-xl bg-stone-300 animate-pulse;
  }

  &__title {
    @apply block w-2/3 h-6 bg-stone-300 animate-pulse rounded my-1;
  }

  &__priceGroup {
    @apply w-full flex-1 flex items-center gap-2;
  }

  &__price {
    @apply block w-10 h-6 bg-stone-300 animate-pulse rounded;
  }

  &__priceOld {
    @apply block w-10 h-4 bg-stone-300 animate-pulse rounded;
  }

  &__discount {
    @apply block w-10 h-7 bg-stone-300 animate-pulse rounded-xl;
  }
}
