@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./base";

@import "./components/card-game";
@import "./components/card-game-placeholder";


.logo {
  @apply flex items-center justify-center w-16 h-8 bg-yellow-500 font-600 text-18/16 rounded;
}

.form-control {
  @apply w-full h-8 flex-1 text-13/16 bg-white rounded px-4;
}

.app-header {
  @apply sticky left-0 top-0 w-full bg-stone-800 py-4 px-4 z-1;

  &__container {
    @apply flex items-center justify-between gap-4 sm:gap-8 mx-auto;
  }

  &__containerLeft {
    @apply w-full flex-1 flex items-center gap-4 sm:gap-8;
  }

  &__divider {
    @apply block w-0.5 h-5 bg-white/10 rounded;
  }

  &__placeholderCircle {
    @apply block w-6 h-6 bg-white/10 rounded-full;
  }
}

.app-navbar {
  @apply w-full bg-stone-800 pt-2 pb-4 px-4 hidden sm:block;

  &__container {
    @apply flex items-center gap-8 mx-auto;
  }

  &__placeholderItem {
    @apply h-3 bg-white/10 rounded block;
  }
}

.app-side {
  @apply col-span-4 lg:col-span-3 xl:col-span-2 hidden sm:flex flex-col gap-4;

  &__placeholderCard {
    @apply block w-full border border-stone-200 rounded p-4;
  }

  &__placeholderCardTitle {
    @apply block w-2/3 h-8 bg-stone-200 rounded;
  }

  &__placeholderCardItemGroup {
    @apply flex flex-col gap-2 mt-4;
  }

  &__placeholderCardItem {
    @apply block h-4 bg-stone-200 rounded;
  }
}

.app-main {
  @apply col-span-8 lg:col-span-9 xl:col-span-10;

  &__header {
    @apply flex items-start justify-between mt-4 px-4 sm:px-0 sm:mt-0;
  }

  &__headerLeft {
    @apply w-full flex-1;
  }

  &__headerRight {
    @apply hidden lg:flex items-center gap-4 pt-2.5;
  }

  &__title {
    @apply text-32/16 sm:text-48/16 font-700 -tracking-wide leading-none;
  }

  &__description {
    @apply hidden text-stone-500 leading-none mt-3;
  }

  &__descriptionPlaceholder {
    @apply block w-52 h-4 bg-stone-200 rounded mt-3;
  }

  &__headerPlaceholderItem {
    @apply block w-32 h-8 bg-stone-200 rounded;
  }
}
